Source: dvd-styler
Section: video
Priority: extra
Maintainer: Iván Hoffmann <digital.h@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dvdauthor, libavcodec-dev, libavformat-dev,
    libavfilter-dev, libexif-dev, libwxgtk3.0-dev, libwxgtk-media3.0-dev, 
    libwxsvg-dev, libxine2-dev, flex, libav-tools, xmlto, libudev-dev, zip,
    genisoimage, growisofs, libjpeg-dev
Standards-Version: 3.9.3
Homepage: http://www.dvdstyler.org/
Vcs-Git: https://github.com/digitalh/pkg-dvd-styler.git
Vcs-Browser: https://github.com/digitalh/pkg-dvd-styler

Package: dvd-styler
Architecture: all
Depends: ${misc:Depends}
Description: DVDStyler is a DVD authoring application.
 DVDStyler is a cross-platform free DVD authoring application for the creation
 of professional-looking DVDs. It allows not only burning of video files on DVD
 that can be played practically on any standalone DVD player, but also creation
 of individually designed DVD menus. It is Open Source Software and is 
 completely free.